<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    {% include google_analytics.html %}
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/b1tst0rm/">Github</a>
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          <a href="/" class="btn btn-primary">Home</a>
          <a href="/posts" class="btn btn-primary">Posts</a>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
        {% include disqus.html %}
        <footer class="site-footer">
        </footer>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <span><a href="{{ site.github.owner_url }}" class="btn btn-primary fa fa-github"> Github</a></span>
        <span><a href="https://www.linkedin.com/in/daniellimanowski/" class="btn btn-primary fa fa-linkedin"> LinkedIn</a></span>
        <span><a href="https://www.youtube.com/@daniellimanowski" class="btn btn-primary fa fa-youtube">Youtube</a></span>
      </footer>
    </div>

  </body>
</html>
